name: ChatOps Dispatcher
on:
  issue_comment:
    types: [created]

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commands: lgtm
          # 1. Basic Security: Only allow users with 'write' access to even trigger this
          permission: write
          issue-type: pull-request
          reactions: false
